@import "./global_styles.css";

#welcome {
    color: white;
    margin: auto;
    margin-top: 3em;
    width: 40%;
    font-size: 0.9vw;
}

#posts {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    font-size: 1vw;
}

ul {
    display: block;
}

li {
    margin-bottom: 2px;
}

.papers-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.papers-link:hover {
    text-decoration: underline;
}

#quote {
    width: 40%;
    margin: auto;
    margin-top: 2em;
    color: rgba(255,255,255,0.3);
    font-size: 15px;
    border: 1px white dashed;
    padding: 10px;
    background-color: #222626;
}

@media (max-width: 1000px) {
    #quote {
        width: 70%;
        font-size: 1.5vw;
    }
    #welcome{
        width: 80%;
        font-size: 1.5vw;
    }
    
}

@media (max-width: 360px) {
    #welcome {
        width: 90%;
        font-size: 3vw;
        margin-top: 1em;
    }

    li {
        font-size: 3vw;
    }

    #quote {
        width: 95%;
        font-size: 3vw;
    }
    
    #posts {
        font-size: 0.1vw;
        display: flex;
        justify-content: center;
    }
}