@import "../global_styles.css";

#welcome {
    color: white;
    margin: auto;
    margin-top:3em;
    width: 40%;
    font-size: 1vw;
}

#posts {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

li {
    font-size: 1vw;
}

.papers-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.papers-link:hover {
    text-decoration: underline;
}

li {
    margin-bottom: 2px;
}

@media (max-width: 700px) {
    #welcome {
        width: 80%;
    }
}