@import "../../global_styles.css";

#papers {
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 2em;
    font-size: 1vw;
}

.papers-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
    
.papers-link:hover {
    text-decoration: underline;
}